<h2><%= @node.name %></h2>
<div class="apps">
  <% @apps.each do |app| %>
    <a href="<%=app.url%>"><%=app.name%></a>
  <% end %>
<%= paginate @apps %>
</div>
<% content_for :sidebar do%>
  <%= render :partial => "common/add_node_link" %>
<% end %>
