<h2><%= @node.name %></h2>
<div class="apps">
  <% @apps.each do |app| %>
    <% if app.logo? %>
    <%= link_to(image_tag(app.logo_url(:thumb)), app)%>
    <% else %>
      <%= link_to app.name, app%>
    <% end %>
  <% end %>
<%= paginate @apps %>
</div>
<% content_for :sidebar do%>
  <%= render :partial => "common/add_node_link" %>
<% end %>
