<div class="box">
  <%= render :partial => "sub_nav"%>
  <ul id="user-feeds" class="unstyled">
    <%= render :partial => "common/feed", :collection => @feeds %>
  </ul>
  <%= paginate @feeds, :theme => 'bootstrap' %>
</div>
<% content_for :sidebar do %>
<div class="box">
  <h2>用过的应用</h2>
  <ul class="thumbnails">
    <% @using_apps.each do |app|%>
      <li>
        <%= link_to(image_tag(app.logo_url(:thumb)), app, :title => app.url)%><br />
      </li>
    <% end %>
  </ul>
  <div class="row-fluid"><%= link_to "更多应用(#{@user.using_app_count})", used_user_apps_path(@user.name), :class => "pull-right"%></div>
</div>
<div class="box">
  <h2>提交的应用</h2>
  <ul class="thumbnails">
    <% @apps.each do |app|%>
      <li>
        <%= link_to(image_tag(app.logo_url(:thumb)), app, :title => app.url)%><br />
      </li>
    <% end %>
  </ul>
  <div class="row-fluid"><%= link_to "更多应用(#{@user.apps_count})", user_apps_path(@user.name), :class => "pull-right"%></div>
</div>
<% end %>

