<div class="box" id="password-form">
  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class=>'form-horizontal' }) do |f| %>
  <fieldset>
    <legend>
      修改密码
    </legend>
    <%= f.input :reset_password_token, :as => :hidden %>
    <%= f.full_error :reset_password_token %>
    <%= f.input :password, :label => "新密码", :required => true %>
    <%= f.input :password_confirmation, :label => "确认密码", :required => true %>
    <div class="form-actions">
      <%= f.button :submit, "修改密码", :class => "btn btn-primary" %>
    </div>
  </fieldset>
  <% end %>
</div>