<div class="box app-wrap">
  <h2><%= apps_menu(params) %></h2>
  <div id="apps">
    <%= render :partial => "common/app", :collection => @apps %>
    <%= paginate @apps, :theme => 'bootstrap' %>
  </div>
</div>
<% content_for :sidebar do%>
<div class="box">
  <%= render :partial => "common/add_node_link" %>
</div>
<div class="box">
  <%= render :partial => "common/summary"%>
</div>
<%= render_cell :news, :sidebar_latest_news%>
<%= render_cell :comment, :sidebar_latest_comments%>
<% end %> 