<div class="box box-break">
  <h2>最新评论</h2>
  <ul class="unstyled comments">
    <% @comments.each do |comment|%>
      <li>
        <span><%= link_to comment.user.name, user_path(comment.user.name)%>评论<%= link_to comment.app.name, app_path(comment.app)%></span>
        <div class="content">
          <%= user_avatar_tag(comment.user, :normal)%>
          <div class="main-content">
            <%= comment.bodys.first %><%if comment.bodys.size==2 %><br /><%= comment.bodys.last %> <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>