<%= simple_form_for(@app, :wrapper => "inline") do |f| %>
  <fieldset>
  <legend><%= @app.new_record? ? t("apps.create_app") : t("apps.edit_app") %></legend>
    <div class="inputs">
      <%= f.input :name do %>
        <span class="span3">
        <%= f.grouped_collection_select :node_id, Node.all, :children, :name, :id, :name  %>
        </span>
        <span class="span8">
          <%= f.text_field :name, :class => "xlarge" %>
        </span>
      <% end %>
      <%= f.input :url, :placeholder => "http://", :input_html => { :class => 'xxlarge' }%>
      <%= f.input :desc, :as => :text, :input_html => { :class => 'xxlarge' } %>
    </div>
  
    <div class="actions">
      <%= f.button :submit, t("common.save"), :class => "primary", :disable_with => t("common.saving")%>
      <%= link_to t("common.cancel"), @app.id.blank? ? root_path : app_path(@app), :class => "btn"%>
    </div>
  </fieldset>
<% end %>
