<div id="app-tab" class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#basic" data-toggle="tab">云应用基本信息</a></li>
    <li><a href="#pricing" data-toggle="tab">云应用价格表</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="basic">
      <%= simple_form_for(@app, :html => { :class => "form-horizontal" }) do |f| %>
          <%= f.input :name do %>
              <%= f.grouped_collection_select :node_id, Node.all, :children, :name, :id, :name  %>
              <%= f.text_field :name, :class => "span3"%>
          <% end %>
          <%= f.input :url, :placeholder => "http://", :input_html => { :class => 'input-xlarge' }%>
          <%= f.input :logo do %>
            <%= f.hidden_field :logo_cache%>
            <div class="row">
              <div class="span4">
                <%= f.file_field :logo, :class => 'span3'%>
              </div>
              <div class="span12">
              <%= image_tag(@app.logo_url(:thumb)) if @app.logo?%>
              </div>
            </div>
          <% end %>
          <%= f.input :desc, :as => :text, :input_html => {:rows=>8, :class => 'span6'} %>
          <div class="form-actions">
            <%= f.button :submit, t("common.save"), :class => "btn-primary", :disable_with => t("common.saving")%>
            <%= link_to t("common.cancel"), @app.id.blank? ? root_path : app_path(@app), :class => "btn"%>
          </div>
        </fieldset>
      <% end %>
    </div>
    <div class="tab-pane" id="pricing">
      <%= simple_form_for(@app, :html => { :class => "form-horizontal" }) do |f| %>
          <%= f.input :trial, :wrapper => :append, :hint => "不填、或者填0表示没有免费试用" do %>
            <%= f.input_field :trial, :class => "input-mini" %>
            <%= content_tag :span, "天", :class => "add-on" %>
          <% end %>
          <%= f.input :pricing_url, :placeholder => "http://", :input_html => { :class => 'input-xlarge' }%>
          <%= f.input :pricing, :as => :text, :input_html => {:rows=>8, :class => 'span6'}  %>
          <div class="form-actions">
            <%= f.button :submit, t("common.save"), :class => "btn-primary", :disable_with => t("common.saving")%>
            <%= link_to t("common.cancel"), @app.id.blank? ? root_path : app_path(@app), :class => "btn"%>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
