<%= simple_form_for(@app, :html => { :class => "form-horizontal" }) do |f| %>
  <fieldset>
  <legend><%= @app.new_record? ? t("apps.create_app") : t("apps.edit_app") %></legend>
    <%= f.input :name do %>
        <%= f.grouped_collection_select :node_id, Node.all, :children, :name, :id, :name  %>
        <%= f.text_field :name, :class => "span3"%>
    <% end %>
    <%= f.input :url, :placeholder => "http://", :input_html => { :class => 'xxlarge' }%>
    <%= f.input :desc, :as => :text, :input_html => {:rows=>5, :class => :xxlarge} %>
  
    <div class="form-actions">
      <%= f.button :submit, t("common.save"), :class => "btn-primary", :disable_with => t("common.saving")%>
      <%= link_to t("common.cancel"), @app.id.blank? ? root_path : app_path(@app), :class => "btn"%>
    </div>
  </fieldset>
<% end %>
