<div class="box">
  <h2><%= @node.name %></h2>
  <div id="apps">
    <%= render :partial => "common/app", :collection => @apps %>
    <%= paginate @apps, :theme => 'bootstrap' %>
  </div>
</div>
<% content_for :sidebar do%>
<div class="box">
  <%= render :partial => "common/add_node_link" %>
</div>
<div class="box">
  <%= render :partial => "common/summary"%>
</div>
<div class="box box-break">
  <h2>谁在用</h2>
  <ul class="unstyled appusings">
    <% @appusings.each do |using|%>
      <li>
        <span><i class=" icon-user"></i><%= link_to using.user.name, user_path(using.user.name)%>正在用<%= link_to using.app.name, app_path(using.app)%></span>
      </li>
    <% end %>
  </ul>
</div>
<% end %> 