<div class="span12">
  <div class="box app-wrap">
    <div class="apps">
      <%= render :partial => "common/app", :locals => {:app => @app}%>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="box">
        <h2>
          价格表
          <div class="pull-right">
            <a href="<%= @app.pricing_url%>" target="_blank"><i class="icon-eye-open"></i>官方链接</a>
          </div>
        </h2>
        
      </div>
    </div>
    <div class="span8">
      <div id="comments" class="box">
        <h2>评论，共<%= @app.comments_count%>条评论</h2>
        <ul class="unstyled">
          <%= render :partial => "comments/comment", :collection => @comments, :locals => {:app => @app }%>
          <li>
            <% if current_user.present? %>
            <%= form_for Comment.new, :remote => true, :url => app_comments_path(@app) do |f| %>
              <%= f.text_area :body, :rows=>4, :style => "width: 500px;" %>
              <%= f.submit "提交评论", :class => "btn-primary", :disable_with => t("common.saving")%>
            <% end %>
            <% else %>
              <p>
                需要 <%= link_to('登录', new_user_session_path, :class => "btn btn-primary")  %> 才能评论，如果没有帐号请先 <%= link_to('注册', new_user_registration_path, :class => "btn btn-inverse")  %>
              </p>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="span4">
      <div class="box">
        <h2>同类应用</h2>
        <ul class="thumbnails">
          <% @other_apps.each do |app|%>
            <li>
              <%= link_to(image_tag(app.logo_url(:thumb)), app, :title => app.url)%><br />
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>