<div class="span12">
  <div class="box app-wrap">
    <div class="apps">
      <div class="app-item" id="app-<%= @app.id%>">
      <div class="row-fluid">
        <div class="app-main">
          <div class="row-fluid app-basic">
            <div class="span8">
              <%= link_to(image_tag(@app.logo_url(:thumb)), @app, :class => "app-logo box")%>
              <div>
                <p class="app-title">
                  <%= link_to content_tag(:strong, @app.name), app_path(@app)%>
                  <%= link_to("编辑", edit_app_path(@app)) if @app.created_by(current_user)%>
                </p>
                <p>
                  <a href="<%= @app.url %>" target="_blank"><i class='icon-home'></i><%= @app.url %></a>
                </p>
                <p>
                  <a href="<%= user_path(@app.user.name) %>"><i class='icon-user'></i><%= @app.user.name %></a>
                </p>
                <p>
                  <a href="<%= node_apps_path(@app.node) %>"><i class='icon-tag'></i><%= @app.node_name %></a>
                </p>
              </div>
             </div>
            <div class="span4">
              <div class="row-fluid">
                <div class="app-star span7">
                  <%= raw render_stars(@app)%>
                  <div>
                    <span class="app-star-title">&nbsp;</span>(<a href="#"><%=@app.rater_count%>人评价</a>)
                  </div>
                </div>
                <div class="span5 my-star">
                  <% if current_user.nil? || current_user.using(@app).nil? %>
                      <%= link_to "用过", "#star-modal", :class => "btn btn-inverse", 'data-toggle' => "modal"%>
                  <% else %>
                    <span class="label label-info">我用过这个应用</span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="row-fluid app-desc">
            <%= raw(@app.desc_html) %>
          </div>
        </div>
      </div>
      <div class="row-fluid app-bar">
        <div class="span12">
          <div class="pull-right">
            <a href="<%= app_path(@app) %>#app-users"><i class="icon-ok-sign"></i><%= @app.rater_count %>人使用</a>
            <a href="<%= app_path(@app) %>#comments"><i class='icon-comment'></i>评论(<%= @app.comments_count%>)</a>
            <a href="<%= app_path(@app) %>#comments"><i class='icon-heart'></i><%= @app.comments_count%>人收藏</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="box">
        <h2>
          价格计划
          <div class="pull-right">
            <a href="<%= @app.pricing_url%>" target="_blank"><i class="icon-eye-open"></i>官方链接</a>
          </div>
        </h2>
        <div>
        	<%= raw @app.pricing_html %>
        </div>
      </div>
    </div>
    <div class="span8">
      <div id="comments" class="box">
        <h2>评论，共<strong><%= @app.comments_count%></strong>条评论</h2>
        <ul class="unstyled">
          <%= render :partial => "comments/comment", :collection => @comments, :locals => {:app => @app }%>
          <li>
            <% if current_user.present? %>
            <%= form_for Comment.new, :remote => true, :url => app_comments_path(@app) do |f| %>
              <%= f.text_area :body, :rows=>4, :style => "width: 500px;" %>
              <%= f.submit "提交评论", :class => "btn-primary", :disable_with => t("common.saving")%>
            <% end %>
            <% else %>
              <p>
                需要 <%= link_to('登录', new_user_session_path, :class => "btn btn-primary")  %> 才能评论，如果没有帐号请先 <%= link_to('注册', new_user_registration_path, :class => "btn btn-inverse")  %>
              </p>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="span4">
      <div class="box" id="app-users">
        <h2>有<strong><%= @app.using_user_count%></strong>人使用该应用</h2>
        <ul class="thumbnails">
        	<% @users.each do |user|%>
        		<li>
        			<%= user_avatar_tag(user, :small) %>
        			<p><%= link_to user.name, user_path(user.name) %></p>
        		</li>
        	<% end %>
        </ul>
      </div>
      <div class="box">
        <h2>同类应用</h2>
        <ul class="thumbnails">
          <% @other_apps.each do |app|%>
            <li>
              <%= link_to(image_tag(app.logo_url(:thumb)), app, :title => app.url)%><br />
            </li>
          <% end %>
        </ul>
        <div class="row-fluid"><%= link_to "更多应用(#{@app.node.apps_count})", node_apps_path(@app.node), :class => "pull-right"%></div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="star-modal" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>评价</h3>
  </div>
  <div class="modal-body">
    <%= simple_form_for Rate.new, :url => app_rates_path(@app) do |f|%>
      <%= f.input :user_status, :label => false do %>
        <div class="row-fluid">
          <div class="span2">
          <%= f.label :user_status, :class => "radio inline", :style=>"margin-left:0;" do %>
            <%= f.radio_button :user_status, "0", :checked => 'checked' %>用过
          <% end %>
          </div>
          <div class="app-star span10">
            <% @app.ratings.each do |k, v|%>
            <div id="app_<%= k %>"><span class="app-star-title"><%= v %></span>
              <input name="star_<%= k %>" type="radio" class="star required" value="0" title="很差"/>
              <input name="star_<%= k %>" type="radio" class="star" value="1" title="差"/>
              <input name="star_<%= k %>" type="radio" class="star" value="2" title="还行"/>
              <input name="star_<%= k %>" type="radio" class="star" value="3" title="好"/>
              <input name="star_<%= k %>" type="radio" class="star" value="4" title="很好"/>
            </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= f.input :body, :input_html => {:rows=>3, :class => 'span7'} %>
    <% end %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">关闭</a>
    <a href="#" class="btn btn-primary" onclick="javascript: forms['new_rate'].submit();">保存</a>
  </div>
</div>
<%= content_for :scripts do %>
  <script type="text/javascript">
    $(function() {
      $("#star-modal").on('show', function() {
        
      })
    })
  </script>
  
<% end %>
