<div class="box">
  <%= render :partial => 'sub_nav'%>
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put,:class => "form-horizontal" }) do |f| %>
  <fieldset>
    <legend>
      个人资料设置
    </legend>
    <%= f.input :name, :required => true, :autofocus => true, :hint => "请不要轻易修改"%>
    <%= f.input :email, :required => true, :autofocus => true%>
    <%= f.input :website%>
    <%= f.input :tags, :hint => "多个标签以半角,分开"%>
    <div class="form-actions">
      <%= f.button :submit, "确认修改", :class => "btn-primary" %>
    </div>
  </fieldset>
  <% end %>
</div>
<% content_for :sidebar do%>
<div class="box" style="text-align:center;">
  <%= user_avatar_tag(@user, 120, :link => false) %> <br />如需修改头像，请进入 <br /><a href="http://www.gravatar.com">gravatar.com</a>
</div>
<% end %> 