<div class="app-item" id="app-<%= app.id%>">
  <div class="row-fluid">
    <div class="app-main">
      <div class="row-fluid app-basic">
        <%= link_to(image_tag(app.logo_url(:thumb)), app, :class => "app-logo box")%>
        <div>
          <p class="app-title">
            <%= link_to content_tag(:strong, app.name), app_path(app)%>
            <%= link_to("编辑", edit_app_path(app)) if app.created_by(current_user)%>
          </p>
          <p>
            <a href="<%= app.url %>" target="_blank"><i class='icon-home'></i><%= app.url %></a>
          </p>
          <p>
            <a href="<%= user_path(app.user.name) %>"><i class='icon-user'></i><%= app.user.name %></a>
          </p>
        </div>
        <% if params[:controller] == 'apps' && params[:action] == 'show' %>
        <div class="my-state">
          <% if current_user.nil? || current_user.using(app).nil? %>
            <p><%= link_to "用过该应用", using_app_path(app), :method => :post, :class=>"btn btn-inverse"%></p>
          <% else %>
            <p><a href="#" class="btn btn-info disabled">我在使用</a></p>
          <% end %>
        </div>
        <% end %>
      </div>
      <div class="row-fluid app-desc">
        <%= params[:controller] == 'apps' && params[:action] == 'show' ? raw(app.desc_html) : truncate(app.desc, :length => 80) %>
      </div>
    </div>
  </div>
  <div class="row-fluid app-bar">
    <div class="span12">
      <div class="pull-right">
        <a href="<%= app_path(app) %>#app-users"><i class="icon-user"></i>用户(<%= app.using_user_count %>)</a>
        <a href="<%= app_path(app) %>#comments"><i class='icon-comment'></i>评论(<%= app.comments_count%>)</a>
        <a href="<%= node_apps_path(app.node) %>"><i class='icon-tag'></i><%= app.node_name %></a>
        <%= timeago(app.created_at)%>
      </div>
    </div>
  </div>
</div>