<li>
  <div class="row-fluid">
    <div class="span1">
      <%= user_avatar_tag(feed.user, :small)%>
    </div>
    <div class="feed-content">
      <p>
        <%= link_to feed.user.name, user_path(feed.user.name)%>
        <% case feed.target_type %>
        <% when 'Comment' %>
        对<%= link_to feed.data['target_title'], app_path(feed.data['target_id'])%>应用发表评论
        <% when 'AppUsing' %>
        正在使用<%= link_to feed.data['target_title'], app_path(feed.data['target_id'])%>
        <% when 'App' %>
        <%= feed.action=='ADD' ? '提交了' : '修改了' %><%= link_to feed.data['target_title'], app_path(feed.data['target_id'])%>应用
        <% end %>
        <%= timeago(feed.created_at, icon='')%>
      </p>
      <% if feed.data['body'].present? %>
      <p class="feed-body">
        <%= feed.data['body'] %>
      </p>
      <% end %>
    </div>
  </div>
</li>
