<!DOCTYPE html>
<html>
	<head>
		<title>Liveinapp</title>
		<%= stylesheet_link_tag "application", params[:controller]%>
    <%= yield :styles %>
    <%= javascript_include_tag "application", params[:controller] %>
    <%= yield :scripts %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/"><%= Settings.app_name %></a>
					<ul class="nav">
						<li class="active">
							<a href="/">首页</a>
						</li>
						<li>
							<a href="#">项目管理</a>
						</li>
						<li>
							<a href="#">主机服务</a>
						</li>
						<li>
              <a href="#">域名服务</a>
            </li>
					</ul>
					<form class="navbar-search pull-left" action="">
            <input type="text" class="search-query span3" placeholder="搜索">
          </form>
					<ul class="nav pull-right" id="userbar">
					  <% if user_signed_in? %>
			        <li><%= link_to('个人主页', user_path(current_user.name)) %></li>
			        <li><%= link_to('个人资料设置', edit_user_registration_path) %></li>
			        <% if current_user.admin? %>
              <li><%= link_to('后台管理', rails_admin_path) %></li>
              <% end %>
              <li><%= link_to('退出', destroy_user_session_path, :method => :delete) %></li>
            <% else %>
              <li><%= link_to('注册', new_user_registration_path)  %></li>
              <li><%= link_to('登录', new_user_session_path)  %></li>
            <% end %>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
		  <%= notice_message %>
		  <div class="row">
  		  <%= content_for?(:content) ? yield(:content) : yield %>
  		</div>
  		<footer>
        <p><%= raw Settings.foot_html %></p>
      </footer>
		</div>
	</body>
</html>
