<% content_for :content do %>
  <div class="span2">
    <div class="box">
    <%= render_cell :app, :sidebar_app_nodes %>
    </div>
    <%= render_cell :global, :stats %>
  </div>
  <div class="span7">
    <%= yield %>
  </div>
  <div class="span3">
    <%= yield :sidebar%>
  </div>
<% end %>
<%= render :template => "layouts/application"%>

