<% content_for :content do %>
  <div class="span3">
    <div class="box">
      <div class="row-fluid owner">
        <div class="span4">
          <%= user_avatar_tag(@user, 70)%>
        </div>
        <div class="span8">
          <p class="user-name"><%= link_to(content_tag(:strong, @user.name), user_path(@user.name))%></p>
          <%if current_user.present? && current_user.id==@user.id%>
            <p><%= link_to("修改资料", edit_user_registration_path)%></p>
          <% else %>
            <p><%= link_to("关注此人", "#")%></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="box">
      <h2>使用中的应用</h2>
      <ul class="thumbnails">
        <% @using_apps.each do |app|%>
          <li>
            <%= link_to(image_tag(app.logo_url(:thumb)), app, :title => app.url)%><br />
          </li>
        <% end %>
      </ul>
      <div class="row-fluid"><%= link_to "更多应用(#{@user.using_app_count})", "#", :class => "pull-right"%></div>
    </div>
    <div class="box">
      <h2>提交的应用</h2>
      <ul class="thumbnails">
        <% @apps.each do |app|%>
          <li>
            <%= link_to(image_tag(app.logo_url(:thumb)), app, :title => app.url)%><br />
          </li>
        <% end %>
      </ul>
      <div class="row-fluid"><%= link_to "更多应用(#{@user.apps_count})", "#", :class => "pull-right"%></div>
    </div>
  </div>
  <div class="span9">
    <%= yield %>
  </div>
<% end %>
<%= render :template => "layouts/application"%>

